.idea
*.iml
_project
_classpath
_classpath.xml
debug.log
build/
*.class
.project
_project.xml
.classpath
target/
test-output/
.idea
.settings
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties